.WebContainer{
  width:100%;
  min-width:1000px;
  height:auto;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    margin-left: 250px;
}
.server-list-title{
  margin-left: 600px;
}
.server-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-left: 250px;
  margin-bottom: 100px;
}

.server-list .server {
  background-color: #282c34;
}

.server-list .server .server-header {
  display: flex;
  align-items: center;
  
}

.server-list .server .server-header .server-icon {
  border-radius: 10px;
}

.server-list .server .server-header .server-name {
    font-size: 1.5rem;
    font-weight: bold;
    
}

.server-list .server .server-header .server-ip {
  padding-left: 250px;
  
}

.server-list .server .server-online {
  color: greenyellow;
  margin-left: auto;
  padding-right: 25px;
  font-weight: bold;
  display: flex;
  
}

.server-list .server .server-online .slash {
  color: white;
  padding-left: 4px;
  padding-right: 4px;
}

.server-list .server .server-status {
    color: white;
    padding: 5px;
    margin-right: 25px;
    text-transform: uppercase;
    border-radius: 8px;
}

.server-list .server .online {
  background-color: rgb(8, 255, 41);
}

.server-list .server .offline {
  background-color: red;
}

.server-list .server .motd {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}